@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:wght@300&family=Ubuntu&display=swap");

:root {
  --primary-color: #60a5fa;
  --off-white: white;
  --hover: #e6e6e6;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--off-white);
  margin: 0;
  padding: 0;
}
.navigation {
  background-color: var(--primary-color);
  padding-top: 2rem;
  color: var(--off-white);
  padding: 1rem;
  border-bottom-left-radius: 2rem;
}
.navigation ul {
  list-style: none;
  text-align: right;
}
.navigation li {
  padding: 0rem 0.7rem;
  display: inline;
}
.navigation__name {
  font-weight: bold;
  font-size: 1.5rem;
}
.navigation a {
  color: var(--off-white);
  text-decoration: none;
}
.navigation li a:hover {
  color: #1e3a8a;
  font-weight: bold;
  transition: 0.5s;
}
.image {
  width: 100%;
  max-width: 450px;
  display: block;
  margin: auto;
}
.heading {
  text-align: center;
  padding-top: 1rem;
  font-size: 2rem;
}
.heading p {
  font-size: 1rem;
  color: var(--primary-color);
}

.tech {
  padding-top: 1rem;
  background-color: var(--primary-color);
  text-align: center;
  padding-bottom: 1.5rem;
  border-radius: 2rem;
}
.tech h4 {
  color: var(--off-white);
  font-weight: 800;
  /* padding: 0 0.5rem; */
  background-color: var(--primary-color);
}
.projects {
  padding-top: 1rem;
  text-align: center;
  padding-bottom: 1.5rem;
}
.projects img {
  padding-top: 1rem;
  max-width: 350px;
  display: block;
  margin: auto;
}
.projects h1 {
  padding-top: 1rem;
  font-weight: 800;
}
.projects__container button,
.blogs button,
.blogs__container button {
  cursor: pointer;
  color: black;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--primary-color);
}
.projects__container button:hover,
.blogs button:hover,
.blogs__container button:hover {
  background-color: var(--hover);
  transition: all 0.2s;
}
.projects_all {
  margin-top: 2rem;
}

.projects__container h2 {
  font-size: 1.7rem;
}

.projects__container p {
  font-size: 1.1rem;
  color: #ef4444;
}
.blogs {
  padding-top: 1rem;
  text-align: center;
  background-color: #bfdbfe;
  padding-bottom: 1rem;
  border-radius: 5rem;
}

.blogs img {
  max-width: 350px;
  display: block;
  margin: auto;
}
.blogs p {
  color: black;
  padding: 2rem;
  display: block;
}

.footer {
  padding-top: 1rem;
  background-color: var(--off-white);
  text-align: center;
}

.footer li,
.footer__projects li {
  display: inline;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.footer__projects {
  padding-top: 1rem;
  background-color: var(--primary-color);
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 4rem;
}

.blogs__container {
  list-style: none;
  display: inline;
  text-align: center;
}
.blogs__container li {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 3rem;
}
.blogs__container li h1 {
  color: #ef4444;
}

.blogs__containerOdd {
  background-color: #bfdbfe;
}
.blogs__containerEven {
  background-color: #eff6ff;
}
